.CareerList__wrapper {
  padding-top: 21px;
}

.CareerList__wrapper > ul {
  list-style-type: none;
  padding: 0;
}

.CareerList__noItemsMessage {
  text-align: center;
  color: var(--primary-dark);
  font-size: 20px;
  margin: 30px 10px;
}