.BookmarkPopup__wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  height: 100vh;
  background: rgba(20, 30, 20, 0.75);
  padding: 100px;
  box-sizing: border-box;
}

.BookmarkPopup__closeButton {
  --button-size: 40px;
  position: absolute;
  top: var(--button-size);
  right: var(--button-size);
  height: var(--button-size);
  width: var(--button-size);
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.BookmarkPopup__closeButton:hover {
  transform: scale(0.9);
}

.BookmarkPopup__closeButton::before,
.BookmarkPopup__closeButton::after {
  content: '';
  display: block;
  height: 4px;
  width: var(--button-size);
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
}

.BookmarkPopup__closeButton::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.BookmarkPopup__closeButton::after {
  transform: translate(-50%, -50%) rotate(45deg);
}