.BookmarkList__wrapper > h1 {
  opacity: 0.4;
  font-weight: normal;
  font-size: 1.75rem;
  margin:  0 0 15px 0;
}

.BookmarkList__bookmarkList > li > em {
  line-height: 20px;
  color: rgba(255,255,255,0.25);
}

.BookmarkList__bookmarkList {
  list-style-type: none;
  padding: 0;
}

.BookmarkList__bookmark {
  cursor: pointer;
  margin: 3px 0;
}

.BookmarkList__bookmark:hover {
  color: rgba(255, 255, 255, 0.8);
}