.Controls__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 35px;
  margin: 0 20px;
  justify-content: center;
  background: #f8f8f8;
}

.Controls__wrapper label {
  margin: 0 20px;
  color: #666;
  font-size: 0.9rem;
}

.Controls__wrapper label > input {
  margin: 0 10px;
}

.Controls__wrapper .Controls__statusToggles {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--lighter);
}

.Controls__saveButtons,
.Controls__saveRevision {
  color: #666;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 10px 0;
}

.Controls__saveButtons button {
  appearance: none;
  padding: 7px 10px;
  color: #FFF;
  background: var(--light);
  border: 0;
  margin: 2px;
  cursor: pointer;
  border-radius: 2px;
}

.Controls__saveButtons button.Controls__saveButton--highlight {
  background: var(--warning);
}

.Controls__saveButtons button:hover {
  background: var(--dark);
}

.Controls__revisionNumber {
  background: var(--warning);
  padding: 3px 5px;
  color: #fff;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 0.75rem;
}