.CareerProjectStatus__wrapper {
  display: inline-block;
  background: #ccc;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20px;
}

.CareerProjectStatus__wrapper select {
  appearance: none;
  background: transparent;
  color: #FFF;
  font-size: 0.9rem;
  border: 0;
  border-radius: 0;
  padding: 14px 15px;
  text-align: center;
}

.CareerProjectStatus__wrapper--not-started {
  background: var(--dark-gradient-soft);
}

.CareerProjectStatus__wrapper--in-progress {
  background: var(--light-gradient-soft);
}

.CareerProjectStatus__wrapper--complete {
  background: var(--primary-gradient-soft);
  border-color: transparent;
}