.Career__wrapper {
  padding: 25px 25px 30px;
  margin: 20px;
  background: rgb(247, 247, 247);
  color: #333;
  line-height: 1.5;
}

.Career__wrapper > h1 {
  display: flex;
  margin: 0 0 15px;
  color: var(--primary-light);
  background: var(--dark);
  text-align: center;
  line-height: 75px;
}

.Career__wrapper > h1 > .Career__titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
  padding: 0 15px;
}

.Career__wrapper > h1 > .Career__bookmarkButton,
.Career__wrapper > h1 > .Career__bookmarkButton--active {
  display: flex;
  height: 90px;
  justify-content: center;
  flex: 0 0 90px;
  cursor: pointer;
}

.Career__wrapper > h1 > .Career__bookmarkButton {
  background: var(--primary-light);
}

.Career__wrapper > h1 > .Career__bookmarkButton:hover {
  background: var(--primary-dark);
}

.Career__wrapper > h1 > .Career__bookmarkButton--active {
  background: var(--darker);
}

.Career__wrapper > h1 > .Career__bookmarkButton--active > img {
  opacity: 0.5;
}

.Career__wrapper > h1 > .Career__bookmarkButton--active:hover > img {
  opacity: 0.75;
}

.Career__wrapper > p,
.Career__wrapper > ul {
  padding: 0 20px;
  color: var(--jordan-color);
  font-size: var(--jordan-font-size);
  font-family: var(--jordan-font-family);
}

.Career__profileLink {
  display: inline-block;
  color: var(--primary-dark);
  text-decoration: none;
  margin: 20px 20px 10px;
  border: 1px solid currentColor;
  padding: 10px 20px;
}

.Career__profileLink::after {
  content: "→";
  margin-left: 8px;
}

.Career__profileLink:hover {
  color: #FFF;
  background: var(--primary-dark);
}