.CareerImage__image {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center center;
}

.CareerImage__modeToggleButton,
.CareerImage__modeToggleButton--active {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: inline-block;
  padding: 10px 15px;
  color: #FFF;
  border-radius: 15px;
  cursor: pointer;
}

.CareerImage__modeToggleButton {
  background: var(--primary-dark);
}

.CareerImage__modeToggleButton--active {
  background: var(--dark);
}

.CareerImage__modeToggleButton--active:hover {
  background: var(--darker);
}

.CareerImage__modeToggleButton:hover {
  background: var(--primary-light);
}